<%- include('inc/head'); %>
<div class="page">
  <div class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12">
          <p>A contact form</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('inc/foot'); %>